body {
	/*background-color: white;*/
	background-image: url("images/jukeboxbackground.png");
}

h4 ,h2{
color: white;
font: large;
align-self: center;
margin-top: 15px;
}

.headerlogo {
	display: flex;
	padding-top: 15px;
	justify-content: center;
	align-items: center;

}

.column1 {
	background-color: white
	height: 450px;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 55px;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 50px;
	padding: 0px 0px; 
}

.column2 {
	/*background-color: indianred;*/
	height: 450px;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 55px;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	padding: 0px 0px; 
}

.column3 {
/*	background-color: #444444;*/
	height: 450px;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 55px;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 50px;
	padding: 0px 0px; 
}

.column2row2 {
	/*background-color: #CCCCCC;*/
	min-height: 150px;
}

.column3row2,.column1row2 {
	background-color: #CCCCCC;
	min-height: 150px;
}

.column1row2,.column2row2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

button {
	padding-left: 15px;
	background: transparent;
	border: none;
	color: white;
}

.col-lg-1,.col-lg-10 {
	padding: 0px;
}

input {
	width: 250px;
	height: 30px;
	border-radius: 35px;
	border: none;
	margin: 15px;
}

.listdisplay {
	display: flex;
	flex-direction: column;
	padding-top: 55px;
	justify-content: flex-start;
	align-items: flex-start;
}

.displaymainbox {
	display: flex;
	flex-direction: column;
	padding-top: 15px;
	justify-content: flex-start;
	align-items: flex-start;
}

.queuediv {
	display: flex;
	flex-direction: row;
	padding-top: 55px;
	justify-content: flex-start;
	align-items: center;
}

