body {
	background-image: url("images/jukeboxbackground1.png")
}

h4 { 
	color: white;
	font-size: xx-small;
	margin: 1px 1px;
}

label {
	color: indianred;
	font-size: small;
	margin: 1px 1px;
}


h5 {
	color: lightgrey;
	font-size: small;
	margin: 1px 1px;
}

.box {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/*align-items: center;*/
	margin: 5px 5px 5px 5px;
	/*border:1px solid indianred;*/
	height: auto;

}

.box1,.jukebox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
	margin: 10px 10px;
	/*border:1px solid indianred;*/
	
}

.playcontrolbox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border: solid .5px lightgrey;
	/*margin: 10px 10px;*/
	border-radius: 100px;
	border-style: inset;
	/*border:1px solid indianred;*/
	
}

.playcontrolrow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/*border:solid 1px white;*/
	
	/*margin: 10px 10px;*/
	/*border:1px solid indianred;*/
	
}


.disc {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	margin: 10px 10px;
	/*border:1px solid indianred;*/
	max-width: 30%;
	min-width: 30%;
}


.vinyldiscplaying {
 
    animation-name: dischighlight;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}


@keyframes dischighlight {
    0%   {background-color:red; left:0px; top:0px; border-radius: 250px;transform: rotate(72deg);}
    25%  {background-color:yellow; left:200px; top:0px;border-radius: 250px; transform: rotate(148deg); }
    50%  {background-color:blue; left:200px; top:200px; border-radius: 250px; transform: rotate(210deg);}
    75%  {background-color:green; left:0px; top:200px; border-radius: 250px;transform: rotate(282deg); }
    100% {background-color:red; left:0px; top:0px; border-radius: 250px; transform: rotate(360deg);}
     -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(90deg);

}

.songinfo {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	margin: 2px 2px;
	padding: 2px 2px;
	
	min-width: 30%;
	/*border:1px solid indianred;*/
}

.songimg {
	 width: 75px;
    height: 75px;

}

button {
	background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 75px;
    height: 75px;
}

.imgqueue {
	width: 75px;
	height: 75px;
}

.inforow {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	margin: 2px 2px;
	padding: 2px 2px;
	width: 100%;

}