body {
	background-image: url("images/jukeboxbackground1.png")
}

h4 { 
	color: white;
	font-size: xx-small;
	margin: 1px 1px;
}

label {
	color: indianred;
	font-size: small;
	margin: 1px 1px;
}


h5 {
	color: lightgrey;
	font-size: small;
	margin: 1px 1px;
}

.box {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/*align-items: center;*/
	margin: 5px 5px 5px 5px;
	/*border:1px solid indianred;*/
	height: auto;

}

.box1,.jukebox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
	margin: 10px 10px;
	/*border:1px solid indianred;*/
	
}

.playcontrolbox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border: solid .5px lightgrey;
	/*margin: 10px 10px;*/
	border-radius: 100px;
	border-style: inset;
	/*border:1px solid indianred;*/
	
}

.playcontrolrow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/*border:solid 1px white;*/
	
	/*margin: 10px 10px;*/
	/*border:1px solid indianred;*/
	
}


.disc {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	margin: 10px 10px;
	/*border:1px solid indianred;*/
	max-width: 30%;
	min-width: 30%;
}


#vinyldisc {
   -webkit-animation: rotation .75s infinite linear;
    -moz-animation: rotation .75s infinite linear;
    -o-animation: rotation .75s infinite linear;
    animation: rotation .75s infinite linear;
}


.songinfo {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	margin: 2px 2px;
	padding: 2px 2px;
	
	min-width: 30%;
	/*border:1px solid indianred;*/
}

.songimg {
	 width: 75px;
    height: 75px;

}

button {
	background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 75px;
    height: 75px;
}

.imgqueue {
	width: 75px;
	height: 75px;
}

.inforow {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	margin: 2px 2px;
	padding: 2px 2px;
	width: 100%;

}